################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Broadcast/.vs
/Broadcast/Broadcast/obj
